# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyd
*.so
*.egg-info/

# Virtual environments
.venv/
venv/

# Build
dist/
build/

# Tools
.ruff_cache/
.mypy_cache/
.pytest_cache/
.pyright/

# Coverage
.coverage
htmlcov/

# IDE
.idea/
*.swp
*.swo

# Environment
.env
.env.*

# Project-specific
applications.yaml
